# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Google Cloud Service Account Keys
# 'my-music-project-471519-'로 시작하고 '.json'으로 끝나는 모든 파일을 무시합니다.
my-music-project-471519-*.json
.env